/* General styles for all menus */
.cbp-spmenu
{
    background: #ffc829;
    position: fixed;
    background-image:url('../../../Images/NavigationMenuBG.png');
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:contain;
}
.cbp-spmenu h3
{
    color: #202020;
    font-size: 16px !important;
    text-transform:uppercase;
    font-weight:bold;
    padding: 20px;
    margin: 0;
    display:inline-block;
    position:relative;
}
.cbp-spmenu a
{
    display: block;
    color: #202020;
    text-align:center;
    text-decoration:none;
    font-size: 14px;
    font-weight:bold;
	-webkit-transition: all 0.3s ease; /* Safari and Chrome */
	-moz-transition: all 0.3s ease; /* Firefox */
	-ms-transition: all 0.3s ease; /* IE 9 */
	-o-transition: all 0.3s ease; /* Opera */
	transition: all 0.3s ease;
}
.cbp-spmenu a:hover,
.cbp-spmenu a:active
{
    color: #00a3c6;
	-webkit-transition: all 0.3s ease; /* Safari and Chrome */
	-moz-transition: all 0.3s ease; /* Firefox */
	-ms-transition: all 0.3s ease; /* IE 9 */
	-o-transition: all 0.3s ease; /* Opera */
	transition: all 0.3s ease;
}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical
{
    width: 320px;
    height: 100%;
    top: 0;
    z-index: 1031;
    /* overflow-y: scroll; This shows a side scroll bar which is now disabled */
}
.NavigationHeader
{
	display:block;
	position:relative;
    background: #fac039;
	-webkit-box-shadow:0px -8px 14px 4px black;
	-moz-box-shadow:0px -8px 14px 4px black;
	box-shadow:0px -8px 14px 4px black;
}
.NavigationHeader .SocialBlock
{
	display:inline-block;
	position:absolute;
    padding:0 0 0 55px;
    top:14px;
    right:14px;
}
.NavigationHeader .SocialBlock .SocialIcon
{
	display:inline-block;
	cursor:pointer;
	background-repeat:no-repeat;
	background-size: 30px 30px;
    width: 30px;
    height: 30px;
	padding: 0;
    margin: 14px 4px;
	-webkit-transition: all 0.3s ease; /* Safari and Chrome */
	-moz-transition: all 0.3s ease; /* Firefox */
	-ms-transition: all 0.3s ease; /* IE 9 */
	-o-transition: all 0.3s ease; /* Opera */
	transition: all 0.3s ease;
}
.NavigationHeader .SocialBlock .SocialIcon:hover
{
	-webkit-transition: all 0.3s ease; /* Safari and Chrome */
	-moz-transition: all 0.3s ease; /* Firefox */
	-ms-transition: all 0.3s ease; /* IE 9 */
	-o-transition: all 0.3s ease; /* Opera */
	transition: all 0.3s ease;
}
.NavigationHeader .SocialBlock .WhatsApp
{
	background-image:url('../../../Images/SocialBlockWhatsAppIcon.png');
}
.NavigationHeader .SocialBlock .WhatsApp:hover,
.NavigationHeader .SocialBlock .WhatsApp:focus,
.NavigationHeader .SocialBlock .WhatsApp:active
{
	background-image:url('../../../Images/SocialBlockWhatsAppHoverIcon.png');
}
.NavigationHeader .SocialBlock .Facebook
{
	background-image:url('../../../Images/SocialBlockFacebookIcon.png');
}
.NavigationHeader .SocialBlock .Facebook:hover,
.NavigationHeader .SocialBlock .Facebook:focus,
.NavigationHeader .SocialBlock .Facebook:active
{
	background-image:url('../../../Images/SocialBlockFacebookHoverIcon.png');
}
.NavigationHeader .SocialBlock .Twitter
{
	background-image:url('../../../Images/SocialBlockTwitterIcon.png');
}
.NavigationHeader .SocialBlock .Twitter:hover,
.NavigationHeader .SocialBlock .Twitter:focus,
.NavigationHeader .SocialBlock .Twitter:active
{
	background-image:url('../../../Images/SocialBlockTwitterHoverIcon.png');
}
.NavigationHeader .SocialBlock .LinkedIn
{
	background-image:url('../../../Images/SocialBlockLinkedInIcon.png');
}
.NavigationHeader .SocialBlock .LinkedIn:hover,
.NavigationHeader .SocialBlock .LinkedIn:focus,
.NavigationHeader .SocialBlock .LinkedIn:active
{
	background-image:url('../../../Images/SocialBlockLinkedInHoverIcon.png');
}
/* MediaQueries Start */
@media (max-width: 992px)
{
	.cbp-spmenu-vertical
	{
	    width: 307px;
	}
	.cbp-spmenu-right
	{
	    right: -280px;
	}
	.cbp-spmenu h3
	{
	    padding: 20px 10px;
	}
	.NavigationHeader .SocialBlock
	{
	    padding:0 0px;
	}
	.NavigationHeader .SocialBlock .SocialIcon
	{
	    margin: 14px 2px;
	}
}
/* #MediaQueries End */
.cbp-spmenu .NavigationLinks
{
	padding:40px 0;
	clear:both;
}
.cbp-spmenu-vertical a
{
	padding:10px 0;
}

.cbp-spmenu-horizontal
{
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.cbp-spmenu-horizontal h3
{
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal a
{
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left
{
    left: -240px;
}
.cbp-spmenu-right
{
    right: -380px;
    overflow: hidden;
}
.cbp-spmenu-left.menu-open
{
    left: 0px;
}
.cbp-spmenu-right.menu-open
{
    right: 0px;
    overflow:hidden;
}
/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top
{
    top: -150px;
}
.cbp-spmenu-bottom
{
    bottom: -150px;
}
.cbp-spmenu-top.menu-open
{
    top: 0px;
}
.cbp-spmenu-bottom.menu-open
{
    bottom: 0px;
}
/* Push classes applied to the body */
.push-body
{
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.push-body-toright {
    left: 240px;
}

.push-body-toleft {
    left: -240px;
}

/* Transitions */
.cbp-spmenu,
.push-body {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.cbp-spmenu-vertical a p{
    font-size: 14px;
    padding-bottom: 0px;
    line-height: 14px;
}


/* Example media queries */
@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}

@media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .push-body-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .push-body-toright {
        left: 190px;
    }
}
